@model JoshuaWood_ST10296167_PROG7311_POE.Models.Login

<head>

</head>

<body>
    <p>yo yo yo joe shmoe</p>

    <form asp-action="LoginUser">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-floating mb-3">
            <input asp-for="Email" class="form-control" placeholder="name@example.com" />
            <label asp-for="Email"></label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="Password" class="form-control" placeholder="Password" type="password" />
            <label asp-for="Password"></label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Log in</button>
    </form>

    @if (TempData["Error"] != null)
    {
        <div id="alert" class="alert alert-danger">
            @TempData["Error"]
        </div>
    }
</body>