@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager
@using JoshuaWood_ST10296167_PROG7311_POE.Models

@{
    ViewData["Title"] = "Home Page";
    var user = await UserManager.GetUserAsync(User);
    string firstName = user?.FirstName ?? "User";
    var isEmployee = await UserManager.IsInRoleAsync(user, "Employee");
    var isFarmer = await UserManager.IsInRoleAsync(user, "Farmer");
}
<head>

</head>

<body>
    <div class="text-center mt-5">
        <h1>Welcome @firstName</h1>
        <hr />

        @if (isEmployee)
        {
            <div class="mt-4">
                <a class="btn btn-primary m-2" asp-controller="User" asp-action="Register">Add Farmer</a>
                <a class="btn btn-secondary m-2" asp-controller="Product" asp-action="Index">View Products</a>
            </div>
        }
        else if (isFarmer)
        {
            <div class="mt-4">
                <a class="btn btn-primary m-2" asp-controller="Product" asp-action="AddProduct">Add Products</a>
                <a class="btn btn-secondary m-2" asp-controller="Product" asp-action="ViewFarmerProducts">View Current Products</a>
            </div>
        }
    </div>
</body>