@{
    string firstName = ViewData["FirstName"].ToString();
    var isEmployee = (bool)ViewData["IsEmployee"];
    var isFarmer = (bool)ViewData["IsFarmer"];
}
<head>

</head>

<body>
    <div class="text-center mt-5">
        <h1>Welcome Back @firstName!</h1>
        <hr />

        @if (isEmployee)
        {
            <div class="mt-4 d-flex flex-wrap justify-content-center gap-4">
                <a asp-controller="User" asp-action="Register" class="btn btn-light text-center shadow rounded p-3" style="width: 180px;">
                    <img src="~/images/img_farmer.png" alt="Add Farmer" style="height: 80px;" class="mb-2 img-fluid" />
                    <div class="fw-semibold fs-6 text-dark">Add Farmer</div>
                </a>

                <a asp-controller="Product" asp-action="ViewProducts" class="btn btn-light text-center shadow rounded p-3" style="width: 180px;">
                    <img src="~/images/img_products.png" alt="View Products" style="height: 80px;" class="mb-2 img-fluid" />
                    <div class="fw-semibold fs-6 text-dark">View Products</div>
                </a>
            </div>
        }
        else if (isFarmer)
        {
            <div class="mt-4 d-flex flex-wrap justify-content-center gap-4">
                <a asp-controller="Product" asp-action="AddProduct" class="btn btn-light text-center shadow rounded p-3" style="width: 180px;">
                    <img src="~/images/img_add_product.png" alt="Add Product" style="height: 80px;" class="mb-2 img-fluid" />
                    <div class="fw-semibold fs-6 text-dark">Add Product</div>
                </a>

                <a asp-controller="Product" asp-action="ViewFarmerProducts" class="btn btn-light text-center shadow rounded p-3" style="width: 180px;">
                    <img src="~/images/img_your_products.png" alt="Your Products" style="height: 80px;" class="mb-2 img-fluid" />
                    <div class="fw-semibold fs-6 text-dark">Your Products</div>
                </a>
            </div>
        }
    </div>
</body>